:root {
    --primary-color: #e2bc30;
    --secondary-color: #636c73;
    --background-color: #26272b;
    --primary-font-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    background-color: green;
}

.container {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 10px;
}

.list-trap {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.list-trap li {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    margin: 20px;
}

.nav-links {
    font-size: 1.75em;
    background-color: var(--background-color);
}

.nav-links a {
    color: inherit;
    text-decoration: inherit;
    background-color: var(--background-color);
}

.nav-links a:visited {
    text-decoration: none;
}

.nav-links a:active {
    color: #a38414;
}